.Botones{
    background-color: rgb(64,79,60); 
    color: rgb(247,248,248); 
    padding: 5px; 
    margin: 5px, 10px, 5px, 10px;  
    
    

}



.Header-navbar{
    display: flex; 
    flex-direction: column;
    align-items: center;
     
}                

.img-navbar{
    width: 200px;  

}

.H2-nav {
    font-size: 30px;
    color: rgb(247,248,248);
    font-family: 'Courier Prime', monospace;
}

.NavBar{
    background-color: rgb(64,79,60);
}

.BotonesNavbar{
    display: flex; 
    flex-direction: row; 
    align-content: center;
    justify-content: center; 
    
}

.Cart-widget{
    background-color:rgb(64,79,60);
    color: rgb(247,248,248); 
    
}

NavLink{
    text-decoration: none;
    color: white; 
}
NavLink.clicked{
    color: white; 
}

.Link{
    color: rgb(247,246,226);
    
}